---
import HeroImage from "@assets/hero-image.webp";
import { Image } from "astro:assets";
---

<main
  class="container-grid container relative mb-36 grid py-6 xl:mb-0 xl:grid-cols-[0.6fr,1fr]"
>
  <div
    class="mx:px-6 animation-hero absolute inset-x-0 -bottom-36 z-10 mx-auto my-auto flex h-fit w-10/12 flex-col justify-center gap-2 rounded-sm bg-white/70 px-3 py-4 shadow backdrop-blur sm:-bottom-28 sm:px-6 sm:py-6 md:gap-4 xl:relative xl:inset-x-auto xl:bottom-auto xl:mx-0 xl:w-[140%] xl:bg-white/50 xl:pr-6 xl:pt-12 2xl:w-[130%] 2xl:pr-12"
  >
    <h2
      class="text-balance text-center font-firaSans text-2xl font-bold leading-[1.1] sm:text-3xl md:text-4xl xl:text-start xl:text-5xl xl:leading-[1.2]"
    >
      Expertos en componentes mecánicos de alta precisión
    </h2>
    <p
      class="text-center font-monserrat text-xs sm:text-sm xl:text-start xl:text-base"
    >
      Especialistas en ingeniería mecánica de precisión, diseñamos y fabricamos
      piezas de alta calidad que garantizan rendimiento, durabilidad y
      soluciones a medida para tus necesidades industriales.
    </p>
    <a
      href="/"
      class="self-center rounded-3xl bg-blue-950 px-8 py-3 font-monserrat text-xs text-white sm:text-sm xl:self-start xl:text-base"
      >Ver Productos</a
    >
  </div>
  <figure>
    <Image
      src={HeroImage}
      alt="Hombre trabajando en una máquina"
      class="animation-hero-invert w-full rounded"
      loading="eager"
      widths={[300, 400, 500, 700, 1200]}
    />
  </figure>
</main>
<style>
  .animation-hero {
    animation: fadeInShow 1s ease-in-out;
  }

  @keyframes fadeInShow {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animation-hero-invert {
    animation: fadeInInvert 1s ease-in-out;
  }

  @keyframes fadeInInvert {
    from {
      transform: translateX(20%);
    }
    to {
      transform: translateX(0);
    }
  }

  @media (1280px >= width) {
    .animation-hero {
      animation: fadeInOpacity 1s ease-in-out;
    }

    @keyframes fadeInOpacity {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .animation-hero-invert {
      animation: fadeInInvertOpacity 1s ease-in-out;
    }

    @keyframes fadeInInvertOpacity {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .container-grid {
    grid-template-areas:
      "images"
      "contents";
  }
  .container-grid figure {
    grid-area: images;
  }
  .container-grid div {
    grid-area: contents;
  }
  @media (min-width: 1280px) {
    .container-grid {
      grid-row: auto;
      grid-template-areas: none;
    }
    .container-grid figure {
      grid-area: unset;
    }
    .container-grid div {
      grid-area: unset;
    }
  }
</style>
