---
import { bannerList } from "./banner-list";
---

<section class="w-full bg-blue-600/5 py-4 md:my-12">
  <div
    class="container flex flex-wrap justify-center gap-12 md:justify-between"
  >
    {
      bannerList.map((banner) => (
        <div class="animation-show grid grid-cols-[auto,auto] gap-x-3">
          <div set:html={banner.svg} class="row-span-2 size-12 xl:size-14" />
          <p class="self-end font-firaSans font-bold">{banner.title}</p>
          <p class="font-monserrat text-xs text-gray-700">
            {banner.description}
          </p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .animation-show {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
